In [3]:
import yfinance as yf
import pandas as pd
# https://analyzingalpha.com/yfinance-python

In [12]:
ticker = 'SPY'
start_date = pd.Timestamp("2023-01-01")
end_date = pd.Timestamp.today()
df = yf.download(ticker, start=start_date, end=end_date)
df.to_csv(ticker+'.csv')

[*********************100%***********************]  1 of 1 completed

In [11]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-24,453.369995,455.040009,452.299988,454.200012,454.200012,54023400
2023-07-25,453.920013,456.739990,453.869995,455.440002,455.440002,55191200
2023-07-26,454.470001,456.989990,453.380005,455.510010,455.510010,71052900
2023-07-27,459.019989,459.440002,451.549988,452.489990,452.489990,92194400
2023-07-28,455.880005,457.779999,452.489990,456.920013,456.920013,79949400